 p{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
  }

  .video-title{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
    width: 350px;

  }
  .video-stats{
    font-size: 14px;
    color: rgb(82, 82, 82);

    margin-top: 5px;
  }
  .channel-name{
    font-size: 14px;
    color: rgb(82, 82, 82);

    margin-top: 14px;
  }
  .video-description{
    font-size: 14px;
    color: rgb(82, 82, 82);
    line-height: 24px;
    width: 320px;

    margin-top: 14px;
    margin-bottom: 100px;
  }

  
  .promotion-text{
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: rgb(201, 73, 73);
    margin-top: 20px;
    padding: 20px 10px;
  }

  .shop-link:hover{
    text-decoration: underline;
    cursor: pointer;
  }